@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*:not(.fa) {
	font-family: 'Poppins', sans-serif;
}
body, .row, p, label, ul, ol, a, a:hover, *:focus
{
	padding: 0px;
	outline: none !important;
	list-style: none;
	text-decoration: none;
	margin: 0px;
}

.displayFlex {
	display: flex;
	flex-wrap: wrap;
}
.justifyB {
	justify-content: space-between;
}
.alignC {
	align-items: center;
}

.topHeader {
    min-height: 45px;
    background: #1DCAD3;
    display: flex;
    align-items: center;
}

.topHeader ul {
    max-width: max-content;
    margin-left: auto;
    color: #fff;
}

.topHeader ul li:nth-child(even) {
    margin: 0px 15px;
}

.topHeader ul li a {
    color: #ffff;
    opacity: 0.6;
}

.topHeader ul li a:hover {opacity: 1;}

.informationCompany {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: max-content;
}

.informationCompany a {
    margin-right: 30px;
    color: #fff;
}

.informationCompany i {
    margin-right: 10px;
    color: #fff;
}
.logoCOntainer {
    background: #011E41;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCOntainer img {
    width: 153px;
    display: block;
    margin: auto;
    height: 93px;
}
.menuMain ul {
    max-width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.menuMain ul li:nth-child(even) {
    margin: 0px 50px;
}

.menuMain li a {
    padding: 20px 20px;
    display: block;
    color: #011E41;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menuMain li.active a {
    color: #1DCAD3;
}
div.slideinner {
    min-height: 600px;
    display: flex !important;
    align-items: center;
    text-align: center;
}

div.slideinner h2 {
    font-size: 49px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

div.slideinner p {
    font-size: 17px;
    color: #fff;
    opacity: 0.7;
    max-width: 1094px;
    margin: 30px auto;
}

div#buttonContainerbanenr {
    max-width: 440px;
    margin: auto;
    justify-content: space-between;
}

div#buttonContainerbanenr a:first-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #011E41;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:last-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:first-child:hover {
    color: #fff;
    background: none;
}

div#buttonContainerbanenr a:last-child:hover {
    color: #072346;
    background: #fff;
}
.bannerMain .slick-dots {
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;z-index: 999
}

.bannerMain .slick-dots li {
    font-size: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.bannerMain .slick-dots li button {
    display: none;
}

.bannerMain .slick-dots li::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    opacity: 0.9;
    left: 0;
    right: 0;
}

.bannerMain .slick-dots li.slick-active {
    border: 2px solid #fff;
}
img {
	max-width: 100%;
	display: block;
}
footer {
    background: #011E41;
    padding: 50px 0px;
}

footer a {
    color: #fff;
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
}

footer i {
    margin-right: 9px;
}

footer p {
    color: #fff;
    font-size: 14px;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.leftfooter ul li a {
    border: 1px solid #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 10px;
}

.leftfooter ul li a i {
    margin: 0px;
}

.leftfooter ul li:nth-child(even) {
    margin: 0px 20px;
}

.leftfooter ul li a:hover {
    background: #fff;
    color: #021e41;
}

div#middlefooter h5 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 30px;
}

div#rightmostfooter h5 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

div#middlefooter li a {
    opacity: 0.7;
}

div#middlefooter li a:hover {
    color: #fff;
    margin-bottom: 14px;
    opacity: 1;
}

div#rightmostfooter a {
    opacity: 0.7;
}

div#rightmostfooter a:hover {
    opacity: 1;
    color: #fff;
    margin-bottom: 14px;
}
.contentSection2 {
    background: #F7F7F7;
    padding: 40px;
}

.section2homepage {
    margin: 70px 0px;
}

.section2homepage h6 {
    color: #1DCAD3;
    font-size: 14px;
}

.section2homepage h4 {
    color: #011E41;
    font-size: 22px;
    font-weight: 600;
}

.section2homepage p {
    color: #1A1A1A;
    opacity: 0.6;
    font-size: 14px;
}

.section2homepage a {
    display: block;
    margin: 20px 0px 0px;
    background: #011E41;
    max-width: max-content;
    padding: 10px 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
}
.section3homepage {
    margin-bottom: 100px;
    text-align: center;
    overflow: hidden;
}

.section3homepage h6 {
    color: #1DCAD3;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section3homepage h3 {
    color: #011E41;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.section3homepage p {
    max-width: 1130px;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    color: #011E41;
    opacity: 0.7;
}

div#boxcontainersection3 {
    margin: 50px 0px;
    padding-top: 50px;
    border-top: 10px solid transparent;
    color: #fff;
    /* padding-bottom: 40px; */
    height: 100%;
}

div.contentRight {
    background: #1DCAD3;
    border-color: #011E41 !important;
}

div#boxcontainersection3 h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

div#boxcontainersection3 li {
    text-align: left;
    max-width: 353px;
    margin: auto;
    margin-bottom: 30px;
}

div.contentLeft {
    background: #021e41;
    border-color: #1dcad3 !important;
}
.featureslist {
    padding: 100px 0px;
    color: #fff;
    text-align: center;
}

.featureslist h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 70px;
}

.featureslist h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.boxcontainer {
    background: rgb(255 255 255 / 0.2);
    margin-bottom: 40px;
    padding: 70px 40px;
    position: relative;
    min-height: 250px;
    display: flex;
    align-items: center;
    z-index: 2;
}

span.number {
    position: absolute;
    top: -20px;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: 0px;
    /* border-left: 0; */
    /* border-right: 0; */
    /* clip: rect(0, 231px, 90px, 0px); */
    /* clip-path: circle(30.1% at 51% 100%); */
    z-index: -1;
}
.boxcontainer {
    border: 3px solid #cccc;
}	
.surfacesection {
    padding: 100px 0px;
    text-align: center;
}

.surfacesection p {
    margin-bottom: 80px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 22px;
    max-width: 1040px;
    margin: 20px auto 100px;
}

.surfacesection h3 {
    color: #011E41;
    font-weight: 600;
    font-size: 27px;
}

.surfacesection h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}
.testtmonials {
    padding: 100px 0px;
    background: #F7F7F7;
    text-align: center;
}

.testtmonials .slick-next,
.productscontainer .slick-next
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    background: none;
    z-index: 999;
    border: none;
}

.testtmonials .slick-next::after, 
.productscontainer .slick-next::after
{content: "";display: block;width: 20px;height: 20px;border: 3px solid #000;transform: rotate(45deg);border-left: 0;border-bottom: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.slick-next button 
{
    display: none;
}

.testtmonials .slick-prev,
.productscontainer .slick-prev
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    z-index: 999;
    border: none;
    background: none;
}

.testtmonials .slick-prev::after,
.productscontainer .slick-prev::after
{content: "";display: block;width: 20px;height: 20px;border: 3px solid #000;transform: rotate(-135deg);border-left: 0;border-bottom: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.slick-prev button {
    display: none;
}
div.slidetest p {
    max-width: 926px;
    margin: 0px auto 40px;
    padding: 0px 90px;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
}

.socialIconsandtest {
    max-width: max-content;
    margin: auto;
}

.socialIconsandtest a:nth-child(even) {
    margin: 0px 13px;
}

.socialIconsandtest a {
    border: 1px solid #1DCAD3;
    color: #1DCAD3;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 0px;
}

.socialIconsandtest {
    display: flex;
}

.socialIconsandtest a:hover {
    background: #011E41;
    color: #fff;
    border-color: #011E41;
}

.socialIconsandtest a i {
    margin: 0px;
    animation: ;
}

.slidetest h4 {
    color: #011E41;
    font-size: 20px;
    font-weight: 600;
}

.slidetest h4 span {
    display: block;
    font-weight: 400;
    font-size: 15px;
}

.slidetest img {
    width: 148px;
    height: 148px;
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    border: 1px solid #cccc;
}

.slidetest h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.slidetest h5 {
    font-size: 30px;
    font-weight: 600;
    color: #011E41;
}
.productscontainer {
    padding: 100px 0px;
    text-align: center;
}

.productscontainer .container > h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

.productscontainer h5 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #011E41;
}

.productscontainer p {
    color: #1A1A1A;
    opacity: 0.7;
    max-width: 960px;
    margin: auto;
    margin-bottom: 60px;
}

.slideProducts img {
    max-width: 100%;
    height: 260px;
    display: block;
    border: 1px solid #cccc;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
}

.innerslidercontainer {
    max-width: 90%;
    margin: auto;
    display: block;
    overflow: hidden;
}

.innerslidercontainer h6 {
    color: #011E41;
    font-size: 15px;
    font-weight: 600;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.innerslidercontainer h6:hover {
    color: #1DCAD3;
}

.innerslidercontainer p {
    font-size: 11px;
    color: #1A1A1A;
    opacity: 0.7;
}

.slideerProducts {
    padding: 0px 50px;
}




















