@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*:not(.fa) {
	font-family: 'Poppins', sans-serif;
}
body, .row, p, label, ul, ol, a, a:hover, *:focus
{
	padding: 0px;
	outline: none !important;
	list-style: none;
	text-decoration: none;
	margin: 0px;
}

.displayFlex {
	display: flex;
	flex-wrap: wrap;
}
.justifyB {
	justify-content: space-between;
}
.alignC {
	align-items: center;
}

.topHeader {
    min-height: 45px;
    background: #1DCAD3;
    display: flex;
    align-items: center;
}

.topHeader ul {
    max-width: max-content;
    margin-left: auto;
    color: #fff;
}

.topHeader ul li:nth-child(even) {
    margin: 0px 15px;
}

.topHeader ul li a {
    color: #ffff;
    opacity: 0.6;
}

.topHeader ul li a:hover {opacity: 1;}

.informationCompany {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: max-content;
}

.informationCompany a {
    margin-right: 30px;
    color: #fff;
}

.informationCompany i {
    margin-right: 10px;
    color: #fff;
}
.logoCOntainer {
    background: #011E41;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCOntainer img {
    width: 153px;
    display: block;
    margin: auto;
    height: 93px;
}
.menuMain ul {
    max-width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.menuMain ul li:nth-child(even) {
    margin: 0px 50px;
}

.menuMain li a {
    padding: 20px 20px;
    display: block;
    color: #011E41;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menuMain li.active a {
    color: #1DCAD3;
}
div.slideinner {
    min-height: 600px;
    display: flex !important;
    align-items: center;
    text-align: center;
}

div.slideinner h2 {
    font-size: 49px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

div.slideinner p {
    font-size: 17px;
    color: #fff;
    opacity: 0.7;
    max-width: 1094px;
    margin: 30px auto;
}

div#buttonContainerbanenr {
    max-width: 440px;
    margin: auto;
    justify-content: space-between;
}

div#buttonContainerbanenr a:first-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #011E41;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:last-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:first-child:hover {
    color: #fff;
    background: none;
}

div#buttonContainerbanenr a:last-child:hover {
    color: #072346;
    background: #fff;
}
.bannerMain .slick-dots {
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;z-index: 999
}

.bannerMain .slick-dots li {
    font-size: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.bannerMain .slick-dots li button {
    display: none;
}

.bannerMain .slick-dots li::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    opacity: 0.9;
    left: 0;
    right: 0;
}

.bannerMain .slick-dots li.slick-active {
    border: 2px solid #fff;
}
img {
	max-width: 100%;
	display: block;
}
footer {
    background: #011E41;
    padding: 50px 0px;
}

footer a {
    color: #fff;
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
}

footer i {
    margin-right: 9px;
}

footer p {
    color: #fff;
    font-size: 14px;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.leftfooter ul li a {
    border: 1px solid #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 10px;
}

.leftfooter ul li a i {
    margin: 0px;
}

.leftfooter ul li:nth-child(even) {
    margin: 0px 20px;
}

.leftfooter ul li a:hover {
    background: #fff;
    color: #021e41;
}

div#middlefooter h5 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 30px;
}

div#rightmostfooter h5 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

div#middlefooter li a {
    opacity: 0.7;
}

div#middlefooter li a:hover {
    color: #fff;
    margin-bottom: 14px;
    opacity: 1;
}

div#rightmostfooter a {
    opacity: 0.7;
}

div#rightmostfooter a:hover {
    opacity: 1;
    color: #fff;
    margin-bottom: 14px;
}
.contentSection2 {
    background: #F7F7F7;
    padding: 40px;
}

.section2homepage {
    margin: 70px 0px;
}

.section2homepage h6 {
    color: #1DCAD3;
    font-size: 14px;
}

.section2homepage h4 {
    color: #011E41;
    font-size: 22px;
    font-weight: 600;
}

.section2homepage p {
    color: #1A1A1A;
    opacity: 0.6;
    font-size: 14px;
}

.section2homepage a {
    display: block;
    margin: 20px 0px 0px;
    background: #011E41;
    max-width: max-content;
    padding: 10px 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
}
.section3homepage {
    margin-bottom: 100px;
    text-align: center;
    overflow: hidden;
}

.section3homepage h6 {
    color: #1DCAD3;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section3homepage h3 {
    color: #011E41;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.section3homepage p {
    max-width: 1130px;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    color: #011E41;
    opacity: 0.7;
}

div#boxcontainersection3 {
    margin: 50px 0px;
    padding-top: 50px;
    border-top: 10px solid transparent;
    color: #fff;
    /* padding-bottom: 40px; */
    height: 100%;
}

div.contentRight {
    background: #1DCAD3;
    border-color: #011E41 !important;
}

div#boxcontainersection3 h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

div#boxcontainersection3 li {
    text-align: left;
    max-width: 353px;
    margin: auto;
    margin-bottom: 30px;
}

div.contentLeft {
    background: #021e41;
    border-color: #1dcad3 !important;
}
.featureslist {
    padding: 100px 0px;
    color: #fff;
    text-align: center;
}

.featureslist h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 70px;
}

.featureslist h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.boxcontainer {
    background: rgb(255 255 255 / 0.2);
    margin-bottom: 40px;
    padding: 70px 40px;
    position: relative;
    min-height: 250px;
    display: flex;
    align-items: center;
    z-index: 2;
}

span.number {
    position: absolute;
    top: -20px;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: 0px;
    /* border-left: 0; */
    /* border-right: 0; */
    /* clip: rect(0, 231px, 90px, 0px); */
    /* clip-path: circle(30.1% at 51% 100%); */
    z-index: -1;
}
.boxcontainer {
    border: 3px solid #cccc;
}	
.surfacesection {
    padding: 100px 0px;
    text-align: center;
}

.surfacesection p {
    margin-bottom: 80px;
    opacity: 0.7;
    font-size: 14px;
    line-height: 22px;
    max-width: 1040px;
    margin: 20px auto 100px;
}

.surfacesection h3 {
    color: #011E41;
    font-weight: 600;
    font-size: 27px;
}

.surfacesection h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}
.testtmonials {
    padding: 100px 0px;
    background: #F7F7F7;
    text-align: center;
}

.testtmonials .slick-next,
.productscontainer .slick-next
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    background: none;
    z-index: 999;
    border: none;
}

.testtmonials .slick-next::after, 
.productscontainer .slick-next::after
{content: "";display: block;width: 20px;height: 20px;border: 3px solid #000;transform: rotate(45deg);border-left: 0;border-bottom: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.slick-next button 
{
    display: none;
}

.testtmonials .slick-prev,
.productscontainer .slick-prev
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    z-index: 999;
    border: none;
    background: none;
}

.testtmonials .slick-prev::after,
.productscontainer .slick-prev::after
{content: "";display: block;width: 20px;height: 20px;border: 3px solid #000;transform: rotate(-135deg);border-left: 0;border-bottom: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.slick-prev button {
    display: none;
}
div.slidetest p {
    max-width: 926px;
    margin: 0px auto 40px;
    padding: 0px 90px;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
}

.socialIconsandtest {
    max-width: max-content;
    margin: auto;
}

.socialIconsandtest a:nth-child(even) {
    margin: 0px 13px;
}

.socialIconsandtest a {
    border: 1px solid #1DCAD3;
    color: #1DCAD3;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 0px;
}

.socialIconsandtest {
    display: flex;
}

.socialIconsandtest a:hover {
    background: #011E41;
    color: #fff;
    border-color: #011E41;
}

.socialIconsandtest a i {
    margin: 0px;
    animation: ;
}

.slidetest h4 {
    color: #011E41;
    font-size: 20px;
    font-weight: 600;
}

.slidetest h4 span {
    display: block;
    font-weight: 400;
    font-size: 15px;
}

.slidetest img {
    width: 148px;
    height: 148px;
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    border: 1px solid #cccc;
}

.slidetest h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.slidetest h5 {
    font-size: 30px;
    font-weight: 600;
    color: #011E41;
}
.productscontainer {
    padding: 100px 0px;
    text-align: center;
}

.productscontainer .container > h6 {
    color: #1DCAD3;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

.productscontainer h5 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #011E41;
}

.productscontainer p {
    color: #1A1A1A;
    opacity: 0.7;
    max-width: 960px;
    margin: auto;
    margin-bottom: 60px;
}

.slideProducts img {
    max-width: 100%;
    height: 260px;
    display: block;
    border: 1px solid #cccc;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
}

.innerslidercontainer {
    max-width: 90%;
    margin: auto;
    display: block;
    overflow: hidden;
}

.innerslidercontainer h6 {
    color: #011E41;
    font-size: 15px;
    font-weight: 600;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.innerslidercontainer h6:hover {
    color: #1DCAD3;
}

.innerslidercontainer p {
    font-size: 11px;
    color: #1A1A1A;
    opacity: 0.7;
}

.slideerProducts {
    padding: 0px 50px;
}

.aboutBanner {
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #cccc;
}

.aboutBanner h2 {
    font-size: 42px;
    font-weight: 600;
    color: #ffff;
    text-transform: uppercase;
}

.aboutBanner a, .aboutBanner span {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}
.aboutcontent .container > img {
    max-width: 90%;
    margin-left: auto;
    margin: 50px 0px 50px auto;
}

.aboutcontent h6 {
    text-transform: uppercase;
    font-weight: 400;
    color: #1DCAD3;
}

.aboutcontent h4 {
    color: #011E41;
    font-weight: 600;
}
div#section2about {
    margin: 50px 0px 0px;
}

div#section2about p {
    font-size: 14px;
    line-height: 22px;
    color: #1A1A1A;
    opacity: 0.7;
}

div#section2about {
    align-items: center;
}
div#contentaboutsection3 p {
    font-size: 14px;
    line-height: 22px;
    color: #1a1a1a;
    opacity: 0.7;
    max-width: 90%;
}

p {}

div#contentaboutsection3 {
    /* align-items: center; */
}

.aboutcontent .section2homepage .row {
    flex-direction: row-reverse;
}

.forged {
    min-height: 599px;
    background: url('http://localhost/ultra/wp-content/themes/Age-of-Ultron/image/3.png');
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.forgedinner {
    min-height: 399px;
    border: 2px solid #fff;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.forgedinner h6, .forgedinner h4 {
    color: #fff;
}
.forgedinner p {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
    margin: 50px 0px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.boxcontainerinner {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    margin-bottom: 50px;
}

.boxcontainerinner p {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
}

.boxcontainerinner a {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px;
    color: #011E41;
    font-weight: 600;
    font-size: 14px;
}

.boxcontainerinner img {
    margin-right: 10px;
}

.ourresources {
    padding: 100px 0px;
}

.ourresources h5 {
    color: #011E41;
    font-weight: 600;
    margin-bottom: 60px;
    padding-left: 15px;
    font-size: 30px;
}

.imagecontainerbox {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
}

.imagecontainerbox img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.boxcontainerinnerproduct {
    text-align: center;
    margin-top: 50px;
}

.boxcontainerinnerproduct h6 {
    font-size: 14px;
    color: #011E41;
    font-weight: 600;
}

.boxcontainerinnerproduct p {
    font-size: 11px;
    color: #1A1A1A;
    font-weight: 400;
}

.productscontaienr {
    padding: 50px 0px 100px;
}
.boxcontainerinnerproduct:hover h6 {
    color: #1DCAD3;
}
.menuMain ul li.current-menu-item a {
    color: #1dcad3;
}
.pointstobenoted ul {
    display: flex;
    justify-content: space-between;
}

.pointstobenoted {
    margin-bottom: 100px;
}

.pointstobenoted strong {
    color: #1A1A1A;
    opacity: 0.7;
    font-weight: 600;
}

.pointstobenoted li {
    color: #1A1A1A;
    opacity: 0.7;
    font-weight: 400;
    position: relative;
}

.pointstobenoted li::before {content: "";width: 10px;height: 10px;background: #1dcad3;border-radius: 50%;position: absolute;left: -19px;top: 0;bottom: 0;margin: auto;z-index: 9;opacity: 1;}


.informationsetup {
    padding: 100px 0px;
}

.boxcontaineercontact {
    border: 1px solid #E9E9E9;
    padding: 40px;
    position: relative;
    overflow:hidden;
}


.boxcontaineercontact:before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 1px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
.boxcontaineercontact:after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 1px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}
.boxcontaineercontact:hover:before {
  transition: 0.1s transform linear, 0.1s height linear 0.1s;
  transform: translateX(0);
  height: 100%;
  border-color: #1DCAD3;
}
.boxcontaineercontact:hover:after {
  transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
  transform: translateX(0);
  height: 100%;
  border-color: #1DCAD3;
}
.boxcontaineercontact a i {
    color: #1DCAD3;
    margin-right: 10px;
    font-size: 20px;
}

.boxcontaineercontact a {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.boxcontaineercontact a span {
    flex: 0 100%;
    margin-left: 27px;
}

.boxcontaineercontact {
    border-radius: 10px;
}
.boxcontaineercontact a span {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.7;
}

.boxcontaineercontact a h6 {
    font-weight: 600;
    font-size: 17px;
}
.formcontainer {
    padding: 100px 0px;
}

.formcontainer h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1dcad3;
}

.formcontainer h4 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #011E41;
}

.formcontainer form {
    max-width: 925px;
    margin: 40px auto;
}

.formcontainer input {
    border: 1px solid #E9E9E9 !important;
    height: 50px !important;
    border-radius: 10px !important;
    padding: 0px 20px !important;
}

.formcontainer input::placeholder, .formcontainer textarea::placeholder {
    color: #1A1A1A !important;
    opacity: 0.3;
    font-weight: 300;
    font-size: 14px;
}

.formcontainer textarea {
    border: 1px solid #E9E9E9 !important;
    /* height: 50px !important; */
    border-radius: 10px !important;
    padding: 20px 20px !important;
    resize: none;
    height: 200px !important;
}

.formcontainer button[type="submit"] {
    display: flex !important;
    width: 100% !important;
    height: 50px !important;
    justify-content: center;
    background: #011E41 !important;
    border: 2px solid #011E41 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 500;
    transition: 0.5s all;
    border-radius: 10px !important;
}

.formcontainer button[type="submit"]:hover {
    background: none !important;
    color: #011E41 !important;
    transition: 0.5s all;
}
.boxcontainer:hover {
    background: #ffff;
    color: #1dcad3;
	transition: 0.7s all;
}

.boxcontainer {
	transition: 0.7s all;
}
.leftfooter a {
	margin-bottom: 20px !important;
}
.leftfooter p {
	font-size: 12px;
	line-height: 24px
}

.aboutcontent figure {
    max-width: 90%;
    margin-left: auto;
    margin: 40px 0px  40px auto;
}




















/*media queries*/
@media only screen and (max-width: 767px) {

div.slideinner h2 {
    font-size: 24px;
}

div.slideinner p {
    font-size: 13px;
}

div#buttonContainerbanenr {
    display: flex;
}

div#buttonContainerbanenr a {
    min-width: auto !important;
    flex: 0 45%;
    font-size: 13px !important;
    max-width: 45%;
}

.bannerMain .slick-dots {
    display: flex;
    bottom: 0px;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
}

.section2homepage p {font-size: 13px;line-height: 24px;}

.contentSection2 {
    margin: 40px 0px;
    padding: 20px;
}

.section3homepage .row {
    display: block;
}

div#boxcontainersection3 {
    padding: 30px;
}

div#boxcontainersection3 li {
    font-size: 12px;
}

.section3homepage {
    margin-bottom: 0px;
}

.surfacesection p {
    font-size: 13px;
}

div.slidetest p {
    font-size: 11px;
    line-height: normal;
}

.testtmonials {
    padding: 40px 0px;
}

.surfacesection {
    padding: 40px 0px;
}

.productscontainer {
    padding: 40px 0px;
}

.productscontainer p {
    font-size: 12px;
}

footer .row {
    flex-direction: column-reverse;
}

div#middlefooter {
    margin: 40px 0px;
}

.featureslist .slick-next,
.productscontainer .slick-next
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    background: none;
    z-index: 999;
    border: none;
}

.featureslist .slick-next::after, 
.productscontainer .slick-next::after
{content: "";display: block;width: 20px;height: 20px;border: 3px solid #000;transform: rotate(45deg);border-left: 0;border-bottom: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.slick-next button 
{
    display: none;
}

.featureslist .slick-prev,
.productscontainer .slick-prev
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    height: max-content;
    margin: auto;
    width: 40px;
    height: 30px;
    font-size: 0px;
    z-index: 999;
    border: none;
    background: none;
}

.featureslist .slick-prev::after,
.productscontainer .slick-prev::after
{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #000;
	transform: rotate(-135deg);
	border-left: 0;
	border-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.featureslist .slick-next {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right:0px;
	top: auto;
	display: none !important;
	color: #fff !important;
}
.featureslist .slick-next::after {
    border-color: #fff;
}
.featureslist .slick-prev {
	position: absolute;
	bottom: 0px;
	left: -40px;
	right:0px;
	top: auto;
	display: none !important;
	color: #fff !important;
}
.featureslist .slick-prev::after {
    border-color: #fff;
}
.featureslist .slick-dots {
    display: flex;
    max-width: max-content;
    margin: auto;
}
.ourresources .slick-dots {
    display: flex;
    max-width: max-content;
    margin: auto;
}



.featureslist .slick-dots button {
    display: none;
}

.featureslist .slick-dots li {
    width: 15px;
    height: 15px;
    border: 2px solid #ffff;
    border-radius: 50%;
}

.featureslist .slick-dots li:nth-child(even) {
    margin: 0px 13px;
}

.featureslist .slick-dots li.slick-active {
    background: #1dcad3;
    border-color: #1dcad3;
}
.ourresources .slick-dots button {
    display: none;
}

.ourresources .slick-dots li {
    width: 15px;
    height: 15px;
    border: 2px solid #1dcad3;
    border-radius: 50%;
}

.ourresources .slick-dots li:nth-child(even) {
    margin: 0px 13px;
}

.ourresources .slick-dots li.slick-active {
    background: #1dcad3;
    border-color: #1dcad3;
}



.featureslist {
    padding: 40px 0px;
}
div#contentaboutsection3 {
    display: revert;
}

div#contentaboutsection3 p {
    max-width: 100%;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 13px !important;
    line-height: 24px !important;
}
.ourresources {
    padding: 40px 0px;
}
.pointstobenoted ul {
    display: block;
    margin: auto;
    max-width: 80%;
}

.pointstobenoted ul li {
    margin-bottom: 20px;
}
.topHeader ul {
    display: none;
}

.topHeader .col:nth-child(2) {
    display: none;
}

.informationCompany.displayFlex a {
    margin: 0px;
    font-size: 11px;
}

.informationCompany.displayFlex {
    max-width: 100%;
}

.topHeader .container {
    padding: 0px;
}
ul#menu-header-menu {
    display: block;
    text-align: right;
    position: fixed;
    z-index: 999;
    background: #ffff;
    right: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    right: -100%;
    transition: 0.7s all;
}

ul#menu-header-menu li {
    margin: 0px;
}

.Menuheader {
}

.hamburger {
    position: fixed;
    top: 190px;
    border: 2px solid #fff;
    z-index: 999;
    left: 0px;
    width: 40px;
    height: 23px;
    bottom: auto;
    margin: auto;
    left: 20px;
    border: none;
}

header {
    position: relative;
}

.hamburger span {
    position: absolute;
    top: 0;
    background: #1dcad3;
    height: 2px;
    display: block;
    width: 100%;
}

span.span2 {
    bottom: 0;
    margin: auto;
}

span.span3 {
    top: auto;
    bottom: 0;
}
.hamburger.active span.span2 {
    opacity: 0;
    visibility: hidden;
}

.hamburger span {
    transition: 0.8s all;
}

.hamburger.active .span1 {
    transform: rotate(50deg);
    top: 0;
    bottom: 19px;
    margin: auto;
}

.hamburger.active .span3 {
    transform: rotate(-50deg);
    top: 0;
}

ul#menu-header-menu.active {
    right: 0px;
}
body.active {
	overflow: hidden;
}
.hamburger.darkHeader {
    top: 20px;
    transition: 0.7s all;
}
.hamburger {
    transition: 0.7s all;
}
}






