@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*:not(.fa) {
	font-family: 'Poppins', sans-serif;
}
body, .row, p, label, ul, ol, a, a:hover, *:focus
{
	padding: 0px;
	outline: none !important;
	list-style: none;
	text-decoration: none;
	margin: 0px;
}

.displayFlex {
	display: flex;
	flex-wrap: wrap;
}
.justifyB {
	justify-content: space-between;
}
.alignC {
	align-items: center;
}

.topHeader {
    min-height: 45px;
    background: #1DCAD3;
    display: flex;
    align-items: center;
}

.topHeader ul {
    max-width: max-content;
    margin-left: auto;
    color: #fff;
}

.topHeader ul li:nth-child(even) {
    margin: 0px 15px;
}

.topHeader ul li a {
    color: #ffff;
    opacity: 0.6;
}

.topHeader ul li a:hover {opacity: 1;}

.informationCompany {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: max-content;
}

.informationCompany a {
    margin-right: 30px;
    color: #fff;
}

.informationCompany i {
    margin-right: 10px;
    color: #fff;
}
.logoCOntainer {
    background: #011E41;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCOntainer img {
    width: 153px;
    display: block;
    margin: auto;
    height: 93px;
}
.menuMain ul {
    max-width: max-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.menuMain ul li:nth-child(even) {
    margin: 0px 50px;
}

.menuMain li a {
    padding: 20px 20px;
    display: block;
    color: #011E41;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menuMain li.active a {
    color: #1DCAD3;
}
div.slideinner {
    min-height: 600px;
    background: red;
    display: flex !important;
    align-items: center;
    text-align: center;
}

div.slideinner h2 {
    font-size: 49px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

div.slideinner p {
    font-size: 17px;
    color: #fff;
    opacity: 0.7;
    max-width: 1094px;
    margin: 30px auto;
}

div#buttonContainerbanenr {
    max-width: 440px;
    margin: auto;
    justify-content: space-between;
}

div#buttonContainerbanenr a:first-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #011E41;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:last-child {
    min-width: 210px;
    height: 50px;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

div#buttonContainerbanenr a:first-child:hover {
    color: #fff;
    background: none;
}

div#buttonContainerbanenr a:last-child:hover {
    color: #072346;
    background: #fff;
}
.bannerMain .slick-dots {
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;z-index: 999
}

.bannerMain .slick-dots li {
    font-size: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.bannerMain .slick-dots li button {
    display: none;
}

.bannerMain .slick-dots li::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    opacity: 0.9;
    left: 0;
    right: 0;
}

.bannerMain .slick-dots li.slick-active {
    border: 2px solid #fff;
}
img {
	max-width: 100%;
	display: block;
}